<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
    <div id="app">
        <!-- #app 내부에 템플릿을 출력할 것입니다.-->
        <h1>{{ message }}</h1>
        <div v-on:dragstart="handler($event)" v-on:dragend="handler($event)" draggable="">드래그 가능</div>
        <input v-bind:value="message" v-on:input="handlerInput">
        <div v-on:click.right="rck_handler">example</div>
    
    <label><input type="checkbox" v-model="val" value="A"> A</label>
    <label><input type="checkbox" v-model="val" value="B"> B</label>
    <label><input type="checkbox" v-model="val" value="C"> C</label>
    <div>
        <button v-on:click="change_value">확인</button>
    </div>

    <label><input type="radio" value="a" v-model="val_radio">a</label>
    <label><input type="radio" value="b" v-model="val_radio">b</label>
    <label><input type="radio" value="c" v-model="val_radio">c</label>
    <p> {{val_radio}}</p>
    <br>
    <input type="file" v-on:change="handleChange">
    <div v-if="preview"><img v-bind:src="preview"></div>
    <header v-bind:class="{ compact: scrollY > 200 }">
        200px 이상 스크롤 했으면 compact 클래스 추가하기
        <p v-for="li in 200">xxxxx</p>
    </header>
    <div v-on:click="scrollTop">
        페이지 상단으로 이동하기
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
    <script src="main.js"></script>
</body>
</html>